body {
  margin: 0;
  padding: 0;
}
main {
  position: relative;
  width: 100%;
  height: 400px;
  background: blue;
}
.player {
  width: 450px;
  height: 450px;
  background: url(../gif/crash.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 25px;
  bottom: -1600px;
  z-index: 1;
  transform: scaleX(-1);
}
.crash-jump {
  background: url(../gif/crash-jump.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.bird {
  width: 300px;
  height: 300px;
  background: url(../gif/bird.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 2000px;
  bottom: -1700px;
  z-index: 1;
  transform: scaleX(-1);
}
.box {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 0;
  bottom: -1600px;
  z-index: 2;
  background: url(../gif/crate.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.star {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: -1600px;
  z-index: 2;
  background: url(https://qph.ec.quoracdn.net/main-qimg-0db8817be9958205021b6d8f021b0631);
  background-size: contain;
  background-repeat: no-repeat;
}
.star p {
  margin: -40px;
  size: 10px;
}
.box p {
  margin: -40px;
  size: 5px;

}
.rightFloat {
  /*background-color:transparent;*/
  float: right;
  width: 33.3%;
  height: 100%;
}
.leftFloat {
  /*background-color:yellow;*/
  float: left;
  width: 33.4%;
  height: 100%;
  font-size: 10em;
  font-size: 10px;
}
.noFloat {
  /*background-color: cyan;*/
  display: inline-block;
  width: 33.3%;
  height: 100%;
}
.background {
  width: 100%;
  height: 100%;
  background:url(../gif/cloud.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.backgroundtwo {
  background-color: #9dacea;
  display: inline-block;
  width: 100%;
  height: 400%;
}
.ground {
  width: inherit;
  height: 50px;
  /*background:url(;*/
  background-size: contain;
  background: green;
  /*clear: both;*/
}
/*.platform {

}*/
.column {
  float: left;
  bottom: 25px;
  z-index: 1;
  width: 33.33%;
  height: 375px;
  background: black;
  opacity: 0.6;
}
.first { background: green; }
.middle { background: blue; }
.last { background: red; }
