/**{
  box-sizing: border-box;*/

}

body {
  margin: 0;
}

.newStar {
  width: 100;
  height: 300px;
  position: absolute;
  left: 5000px;
  right: 5000px;
  bottom: 100px;
  z-index: 10;
}




.box {
  width: 100px;
  height: 300px;
  background-color: red;
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 100px;
  up: 40;
  z-index: 1;
}

.object {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 5000px;
  right: 5000px;
  bottom: 100px;
  z-index: 10;
}

.rightFloat {
  background-color:pink;
  float: right;
  width: 33.3%;
  height: 8000px;
}

.leftFloat {
  background-color:yellow;
  float: left;
  width: 33.4%;
  height: 8000px;
  font-size: 10em;
}

.noFloat {
  background-color: cyan;
  display: inline-block;
  width: 33.3%;
  height: 8000px;
}

.ground {
  background-color: green;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}

button {
  background: transparent;
}
